<h2>
  {{mdl-icon icon='av_timer'}}
    Our Menu
  {{mdl-icon icon='av_timer'}}
</h2>

<h4>Select a category of topping:</h4>

{{#mdl-tabs active='Meats'}}
  {{#mdl-tab title='Sizes (inches)'}}
  {{mdl-icon icon='account_circle'}}
    8", 10", 12", 14"
  {{/mdl-tab}}
  {{#mdl-tab title='Meats'}}
  {{mdl-icon icon='event_seat'}}
    Bacon, Ham, Sausage, Pepperoni
  {{/mdl-tab}}
  {{#mdl-tab title='Vegetables'}}
  {{mdl-icon icon='face'}}
    Peppers, Onions
  {{/mdl-tab}}
  {{#mdl-tab title='Extras'}}
  {{mdl-icon icon='format_color_fill'}}
    Extra cheese, Extra Sauce, Vegan crust
  {{/mdl-tab}}
{{/mdl-tabs}}

{{outlet}}
